joblib==1.5.3
matplotlib==3.10.9
matplotlib-inline==0.2.1
numpy==2.3.3
pandas==3.0.2
plotly==6.7.0
postgrest==2.30.0
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sortedcontainers==2.4.0
streamlit==1.57.0
streamlit-extras==1.6.0
supabase==2.30.0
supabase-auth==2.30.0
supabase-functions==2.30.0
toml==0.10.2
streamlit_autorefresh

